@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = @Localizer["Title"];
}

<div class="row">
    <div class="col-md-12">
        @Localizer["Message"]
    </div><!-- col-md- -->
</div><!-- row -->
