@model technology_tp1.Models.Order
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    Layout = "";
}

<div class="col-12">
    <form asp-controller="Orders" asp-action="Create" id="ordersCreateForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CustomerName" class="control-label">@Localizer["NameLabel"] :</label>
            <input asp-for="CustomerName" class="form-control" />
            <span asp-validation-for="CustomerName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CustomerAdress" class="control-label">@Localizer["AdressLabel"] :</label>
            <input asp-for="CustomerAdress" class="form-control" />
            <span asp-validation-for="CustomerAdress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CustomerPhoneNumber" class="control-label">@Localizer["PhoneNumberLabel"] :</label>
            <input asp-for="CustomerPhoneNumber" class="form-control" />
            <span asp-validation-for="CustomerPhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group d-flex justify-content-between">
            <input type="submit" value="@Localizer["ConfirmOrder"]" class="btn-fill-primary col-3" />
            <h3 class="col-5 totalPrice">00.0$</h3>
        </div>
    </form>
</div>
