@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="heading">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="mb-30">
            Use this page to detail your site's privacy policy. Use this page to detail your site's privacy policy. Use this page to detail your site's privacy policy.
            Use this page to detail your site's privacy policy.
        </p>
    </div><!-- col-md- -->
</div><!-- row -->
